/* NAVBAR WRAPPER */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #fdfdfd;
  border-bottom: 2px solid #dfe3e9;
  font-family: 'Poppins', sans-serif;
}

.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* ICONS */
.logo {
    width: 150px;
}

.basket-icon {
    width: 55px;
}


/* LEFT & RIGHT SECTION */
.nav-left{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-start;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
}

.nav-left, .nav-right {
    min-width: 200px;
}

/* SEARCH BAR */
.search-container {
    display: flex;
    align-items: center;
    background: #0055c0;
    border-radius: 22px;
    padding: 2px;
    margin: 0 auto;
}

.category-select {
    background: #0055c0;
    border: none;
    padding: 18px 18px;
    color: #fdfdfd;
    font-size: 15px;
    cursor: pointer;
    border-radius: 22px 0 0 22px;
}

.search-input {
    width: 500px;
    padding: 18px 20px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 35px;
}

.search-btn {
    background: #000;
    border: none;
    padding: 18px 18px;
    border-radius: 0 22px 22px 0;
    cursor: pointer;
}

.search-icon {
    width: 20px;
}

.signin{
  color: #0055c0;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

body{
    font-family: 'Poppins', sans-serif;
}


/* FOOTER */
.footer {
    background: #fdfdfd;
    padding: 40px;
    border-top: 4px solid #dfe3e9;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-bottom: 25px;
}

.footer-links a {
    color: #0055c0;
    font-size: 18px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 16px;
    color: #333;
}

@media (max-width: 768px) {
    .navbar {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        text-align: center;
    }

    .nav-left,
    .nav-right,
    .search-container {
        justify-content: center;
        margin: 20px 0;
    }

    .search-input {
        width: 100%;
        max-width: 300px;
    }
}

